*.suo
/.vs/BengHouse/v15
AssetRegistryCache
Build
Intermediate
Saved/AutoScreenshot.png
Saved
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/AutoScreenshot.png
Saved/AutoScreenshot.png
